---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/OKX/33,34/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Wed, 12 Mar 2025 19:04:13 GMT
      X-Correlation-Id:
      - f042497
      X-Server-Id:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 2d5aa715
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            -74.0054,
                            40.6803
                        ],
                        [
                            -74.00099999999999,
                            40.702000000000005
                        ],
                        [
                            -74.02959999999999,
                            40.705400000000004
                        ],
                        [
                            -74.03399999999999,
                            40.6837
                        ],
                        [
                            -74.0054,
                            40.6803
                        ]
                    ]
                ]
            },
            "properties": {
                "units": "us",
                "forecastGenerator": "BaselineForecastGenerator",
                "generatedAt": "2025-03-12T20:26:37+00:00",
                "updateTime": "2025-03-12T19:04:13+00:00",
                "validTimes": "2025-03-12T13:00:00+00:00/P7DT21H",
                "elevation": {
                    "unitCode": "wmoUnit:m",
                    "value": 0
                },
                "periods": [
                    {
                        "number": 1,
                        "name": "This Afternoon",
                        "startTime": "2025-03-12T16:00:00-04:00",
                        "endTime": "2025-03-12T18:00:00-04:00",
                        "isDaytime": true,
                        "temperature": 52,
                        "temperatureUnit": "F",
                        "temperatureTrend": "",
                        "probabilityOfPrecipitation": {
                            "unitCode": "wmoUnit:percent",
                            "value": null
                        },
                        "windSpeed": "8 mph",
                        "windDirection": "SE",
                        "icon": "https://api.weather.gov/icons/land/day/bkn?size=medium",
                        "shortForecast": "Partly Sunny",
                        "detailedForecast": "Partly sunny, with a high near 52. Southeast wind around 8 mph."
                    },
                    {
                        "number": 2,
                        "name": "Tonight",
                        "startTime": "2025-03-12T18:00:00-04:00",
                        "endTime": "2025-03-13T06:00:00-04:00",
                        "isDaytime": false,
                        "temperature": 38,
                        "temperatureUnit": "F",
                        "temperatureTrend":[...]
