---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/address?benchmark=Public_AR_Current&city=Washington&format=json&state=DC&street=1600%20Pennsylvania%20Ave%20NW&zip=20500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"zip":"20500","city":"Washington","street":"1600
        Pennsylvania Ave NW","state":"DC"},"benchmark":{"isDefault":true,"benchmarkDescription":"Public
        Address Ranges - Current Benchmark","id":"4","benchmarkName":"Public_AR_Current"}},"addressMatches":[{"tigerLine":{"side":"L","tigerLineId":"76225813"},"coordinates":{"x":-77.036543957308,"y":38.898690918655},"addressComponents":{"zip":"20500","streetName":"PENNSYLVANIA","preType":"","city":"WASHINGTON","preDirection":"","suffixDirection":"NW","fromAddress":"1500","state":"DC","suffixType":"AVE","toAddress":"1698","suffixQualifier":"","preQualifier":""},"matchedAddress":"1600
        PENNSYLVANIA AVE NW, WASHINGTON, DC, 20500"}]}}'
  recorded_at: Wed, 12 Mar 2025 21:47:46 GMT
recorded_with: VCR 6.3.1
